*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{ 
    --lightblueish: hsl(236, 72%, 79%);
    --darkblueish: hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(0, 0%, 87%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --fontsize: 1.2rem;
    --fontweight: 700;
}
small{
    font-weight: 500;
}
body{
    background-color: var(--Very-Light-Grayish-Blue);
    font-family: 'Montserrat';
    font-size: var(--fontsize);
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--fontweight);
    padding: 2rem 1rem;
}
h1{
    font-size: 4rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0 2rem 0;
}
td{
    border-bottom: 1px solid var(--Light-Grayish-Blue);
    padding: 1rem;
    text-align: center;
}

/* layout */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'column1' 'column2' 'column3' 
    ;
    margin-inline: auto;
    gap: 1rem;
}
.column-one{
    grid-area: 'column1';
}
.column-two{
    grid-area: 'column2';
}
.column-three{
    grid-area: 'column3';
}


/* UI */
.card{
    padding: 4rem 4rem 4rem 4rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
}
.cardChangeColor{
    background: linear-gradient(to right,#a3a8f0, #696fdd);
}

.buttonLearn{
    padding: 0.5rem 5rem 0.5rem 5rem;
    margin-inline: auto;
    border: none;
    color: white;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.3rem;
    background: linear-gradient(to right,#a3a8f0, #696fdd);
    cursor: pointer;
}
.buttonLearn:hover{
    background: white;
    color: #696fdd;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,#a3a8f0, #696fdd);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.subscription{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.insideSubscription{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

/* helper */
.hidden{
    display: none;
}

/* Query */
@media screen and (max-width: 1200px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'column1' 'column2'
            'column3'
        ;
        margin-inline: auto;
        gap: 1rem;
    }
}
@media screen and (max-width: 800px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'column1'
            'column2'
            'column3'
        ;
        margin-inline: auto;
        gap: 1rem;
    }
}